<%= form_with(model: actions_action, local: true) do |form| %>

  <% part = request.path_info.split("/")[4] %>
  <% if part == 'edit' %>
    <%-# This is an existing action link. -%>
    <h2>Lien entre "<%= @actions_action.ref.title %>" - "<%= @actions_action.dep.title %>"</h2>
    <%-# No <h2> title if this is a new action link. -%>
  <% end %>

  <% if actions_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actions_action.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% actions_action.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur le lien</h3><br/>

  <div class="field">
    Action de base (Thème)* : <br/>
    <%= form.select :ref_id, Action.all.collect { |action| [action.title + ' (' + action.theme.title + ')', action.id] }, { :include_blank => "Choisir" } %>
  </div>

  <div class="field">
    Action requise pour faire l'action de base (Thème)* : <br/>
    <%= form.select :dep_id, Action.all.collect { |action| [action.title + ' (' + action.theme.title + ')', action.id] }, { :include_blank => "Choisir" } %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
