<p id="notice"><%= notice %></p>

<h1>Table des liens entre actions</h1>
<em>
  Cette table répond à la question suivante : Quelle(s) action(s) (colonne "Action requise pour faire l'action de base") est-il nécessaire d'effectuer avant de pouvoir faire l'action xxx (colonne "Action de base") ?<br/>
  Plusieurs lignes de la table peuvent concerner la même action.
</em>

<hr/>
<%-# Button to add a new link between actions: at the top -%>
<%= link_to 'Ajouter un nouveau lien entre deux actions', new_actions_action_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(actions_actions_path, method: :get) do %>

  <div class="field">
    Action (Thème - Code du thème) :
    <% actions = Action.all %>
    <% actionoptions = ['Indifférent'] %>
    <% actions.each do |action| %>
      <% actionarray = [action.code + ' ' + action.title + ' (' + action.theme.title + ' - ' + action.theme.code + ')', action.id] %>
      <% actionoptions.push(actionarray) %>
    <% end %>
    <%= select_tag :action_id, options_for_select(actionoptions, params[:action_id]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>
<%= link_to 'Annuler la recherche', actions_actions_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Action de base (Thème - Code du thème)</th>
      <th>Action requise pour faire l'action de base (Thème - Code du thème)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @actions_actions.each do |actions_action| %>
      <tr>
        <td><%= actions_action.ref.code %> <%= actions_action.ref.title %> (<%= actions_action.ref.theme.title %> - <%= actions_action.ref.theme.code %>)</td>
        <td><%= actions_action.dep.code %> <%= actions_action.dep.title %> (<%= actions_action.dep.theme.title %> - <%= actions_action.ref.theme.code %>)</td>
        <td>
          <%= link_to 'Editer', edit_actions_action_path(actions_action) %><br/>
          <%= link_to 'Supprimer', actions_action, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce lien est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>