<p id="notice"><%= notice %></p>

<h1>Table des liens entre tâches</h1>
<em>
  Cette table répond à la question suivante : Quelle(s) tâche(s) (colonne "Tâche requise pour faire la tâche de base") est-il nécessaire d'effectuer avant de pouvoir faire la tâche xxx (colonne "Tâche de base") ?<br/>
  Plusieurs lignes de la table peuvent concerner la même tâche.
</em>

<hr/>
<%-# Button to add a new link between tasks: at the top -%>
<%= link_to 'Ajouter un nouveau lien entre deux tâches', new_tasks_task_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(tasks_tasks_path, method: :get) do %>

  <div class="field">
    Tâche (Action - Thème) :
    <% tasks = Task.all %>
    <% taskoptions = ['Indifférent'] %>
    <% tasks.each do |task| %>
      <% taskarray = [task.title + ' (' + task.action.code + ' ' + task.action.title + ' - ' + task.action.theme.code + ' ' + task.action.theme.title + ')', task.id] %>
      <% taskoptions.push(taskarray) %>
    <% end %>
    <%= select_tag :task_id, options_for_select(taskoptions, params[:task_id]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>
<%= link_to 'Annuler la recherche', tasks_tasks_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Tâche de base (Action - Thème)</th>
      <th>Tâche requise pour faire la tâche de base (Action - Thème)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks_tasks.each do |tasks_task| %>
      <tr>
        <td><%= tasks_task.ref.title %> (<%= tasks_task.ref.action.code %> <%= tasks_task.ref.action.title %> - <%= tasks_task.ref.action.theme.code %> <%= tasks_task.ref.action.theme.title %>)</td>
        <td><%= tasks_task.dep.title %> (<%= tasks_task.dep.action.code %> <%= tasks_task.dep.action.title %> - <%= tasks_task.dep.action.theme.code %> <%= tasks_task.dep.action.theme.title %>)</td>
        <td>
          <%= link_to 'Editer', edit_tasks_task_path(tasks_task) %><br/>
          <%= link_to 'Supprimer', tasks_task, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce lien est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>