<br/><p id="notice"><%= notice %></p>
<h1>Se connecter</h1>
<%= form_with url: session_path do |form| %>
  
  <hr/>
  <div class="field">
    Pseudo : <br/>
    <%= form.text_field :pseudo, size: '43.5' %>
  </div>
  
  <div class="field">
    Mot de passe : <br/>
    <%= form.password_field :password, size: '43.5' %>
  </div>
  
  <hr/>
  <div class="actions">
    <%= form.submit 'Se connecter' %>
  </div>
<% end %>
<%= link_to 'Pas encore de compte ? S\'enregistrer', new_user_path %>