<%= form_with(model: constraint, local: true) do |form| %>
  <% if constraint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constraint.errors.count, "error") %> prohibited this constraint from being saved:</h2>

      <ul>
      <% constraint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :constraint_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :constraint_description %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id, id: :constraint_task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
