<%= form_with(model: task, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing task which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing task -%>
  <% if part == 'edit' %>
    <%-# This is an existing task. -%>
    <h2>Tâche "<%= task.title %>"</h2>
    Action : <%= task.action.code %> <%= task.action.title %> (Thème : <%= task.action.theme.code %> <%= task.action.theme.title %>)
    <%-# No <h2> title if this is a new task. -%>
  <% end %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% task.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur la tâche</h3><br/>

  <div class="field">
    Titre de la tâche* : <br/>
    <%= form.autocomplete_field :title, autocomplete_task_title_tasks_path, id: :task_title, size: '43.5' %>
  </div>

  <div class="field">
    Code de la tâche : <br/>
    <%= form.autocomplete_field :code, autocomplete_task_code_tasks_path, id: :task_code, size: '10' %>
  </div>

  <div class="field">
    Description complète de la tâche* : <br/>
    <%= form.text_area :description, id: :task_description, size: '40x5' %>
  </div>

  <div class="field">
    Temps de la tâche : <br/>
    <%= form.text_area :time, id: :task_time, size: '40x5' %>
  </div>

  <div class="field">
    Information / recommandation de la tâche : <br/>
    <%= form.text_area :recommendation, id: :task_recommendation, size: '40x5' %>
  </div>

  <hr/><h3>Encart curiosité de la tâche</h3><br/>

  <div class="field">
    Titre de l'encart curiosité de la tâche : <br/>
    <%= form.text_field :complement_title, id: :task_complement_title, size: '43.5' %>
  </div>

  <div class="field">
    Description de l'encart curiosité de la tâche : <br/>
    <%= form.text_area :complement_description, id: :task_complement_description, size: '40x5' %>
  </div>

  <hr/><h3>Classification de la tâche</h3><br/>

  <div class="field">
    Action (Thème)* : <br/>
    <%= form.select :action_id, Action.all.collect { |action| [action.code + ' ' + action.title + ' (' + action.theme.code + ' ' + action.theme.title + ')', action.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer une nouvelle action', new_action_path %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
