<p id="notice"><%= notice %></p>

<h1>Table des tâches</h1>
<em>
  Cette table contient les différentes tâches de chacune des actions.<br/>
  Une tâche par ligne. Une action (table "Actions") peut avoir plusieurs tâches. En revanche, une tâche n'appartient qu'à une seule action.
</em>

<hr/>
<%-# Button to add a new task: at the top -%>
<%= link_to 'Ajouter une nouvelle tâche', new_task_path %>
<hr/>

<%= form_tag(tasks_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], size: '30', placeholder: 'Aucun mot-clé' %>
  <%= submit_tag 'Rechercher', name: nil %>
<% end %><br/>
<%= link_to 'Annuler la recherche', tasks_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.action.title %></td>
        <td>
          <%= link_to 'Editer', edit_task_path(task) %><br/>
          <%= link_to 'Supprimer', task, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette tâche est irréversible.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>