<p id="notice"><%= notice %></p>

<h1>Table des tâches</h1>
<em>
  Cette table contient les différentes tâches de chacune des actions.<br/>
  Une tâche par ligne. Une action (table "Actions") peut avoir plusieurs tâches. En revanche, une tâche n'appartient qu'à une seule action.
</em>

<hr/>
<%-# Button to add a new task: at the top -%>
<%= link_to 'Ajouter une nouvelle tâche', new_task_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(tasks_path, method: :get) do %>

  <div class="field">
    Mot-clé cherché dans le titre, le code, les descriptions, les contraintes, les informations / recommandations :
    <%= text_field_tag :keyword, params[:keyword], size: '30', placeholder: 'Aucun mot-clé' %>
  </div>

  <div class="field">
    Action (Thème) :
    <% actions = Action.all %>
    <% actionoptions = ['Indifférent'] %>
    <% actions.each do |action| %>
      <% actionarray = [action.code + ' ' + action.title + ' (' + action.theme.code + ' ' + action.theme.title + ')', action.id] %>
      <% actionoptions.push(actionarray) %>
    <% end %>
    <%= select_tag :action_id, options_for_select(actionoptions, params[:action_id]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>

<%= link_to 'Annuler la recherche', tasks_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre de la tâche</th>
      <th>Code de la tâche</th>
      <th>Action (Thème)</th>
      <th>Description complète de la tâche</th>
      <th>Description succincte de la tâche</th>
      <th>Contrainte temporelle</th>
      <th>Contrainte tâche</th>
      <th>Information / recommandation</th>
      <th>Tâches liées à la présente tâche</th>
      <th>Liens Internet relatifs à la tâche</th>
      <th>Photos relatives à la tâche</th>
      <th>Périodes relatives à la tâche</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.code %></td>
        <td><%= task.action.code %> <%= task.action.title %> (<%= task.action.theme.code %> <%= task.action.theme.title %>)</td>
        <td><%= simple_format(markdown(task.description)) %></td>
        <td><%= simple_format(markdown(task.short_description)) %></td>
        <td><%= simple_format(markdown(task.constraint_time)) %></td>
        <td><%= simple_format(markdown(task.constraint_task)) %></td>
        <td><%= simple_format(markdown(task.recommendation)) %></td>
        <td>
          <% if TasksTask.where(["ref_id = ? OR dep_id = ?", task.id, task.id]).count > 0 %>
            <%= link_to 'Voir les différentes tâches liées à cette tâche', tasks_tasks_url + '?utf8=✓&task_id=' + task.id.to_s, class: 'with-features' %>
          <% else %>
            <%= link_to 'Il n\'y a aucune autre tâche liée à cette tâche.', tasks_tasks_url + '?utf8=✓&task_id=' + task.id.to_s, class: 'no-feature' %>
          <% end %>
        </td>
        <td>
          <% if Link.where(["task_id = ?", task.id]).count > 0 %>
            <%= link_to 'Voir les différents liens Internet relatifs à cette tâche', links_url + '?utf8=✓&keyword=&task_id=' + task.id.to_s, class: 'with-features' %>
          <% else %>
            <%= link_to 'Il n\'y a aucun lien Internet relatif à cette tâche.', links_url + '?utf8=✓&keyword=&task_id=' + task.id.to_s, class: 'no-feature' %>
          <% end %>
        </td>
        <td>
          <% if Picture.where(["task_id = ?", task.id]).count > 0 %>
            <%= link_to 'Voir les différentes photos relatives à cette tâche', pictures_url + '?utf8=✓&keyword=&task_id=' + task.id.to_s, class: 'with-features' %>
          <% else %>
            <%= link_to 'Il n\'y aucune photo relative à cette tâche.', pictures_url + '?utf8=✓&keyword=&task_id=' + task.id.to_s, class: 'no-feature' %>
          <% end %>
        </td>
        <td>
          <% if Period.where(["task_id = ?", task.id]).count > 0 %>
            <%= link_to 'Voir les différentes périodes relatives à cette tâche', periods_url + '?utf8=✓&keyword=&monthmin=0&monthmax=0&category_id=Indifférent&task_id=' + task.id.to_s, class: 'with-features' %>
          <% else %>
            <%= link_to 'Il n\'y aucune période relative à cette tâche.', periods_url + '?utf8=✓&keyword=&monthmin=0&monthmax=0&category_id=Indifférent&task_id=' + task.id.to_s, class: 'no-feature' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Editer', edit_task_path(task) %><br/>
          <%= link_to 'Supprimer', task, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette tâche est irréversible et supprimera toutes les lignes associées dans les tables "Liens", "Photos" et "Périodes".' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>