<%= form_with(model: theme, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing theme which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing theme -%>
  <% if part == 'edit' %>
    <%-# This is an existing theme. -%>
    <h2>Thème "<%= theme.title %>"</h2>
    <%-# No <h2> title if this is a new theme. -%>
  <% end %>

  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% theme.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur le thème</h3><br/>

  <div class="field">
    Titre* : <br/>
    <%= form.autocomplete_field :title, autocomplete_theme_title_themes_path, id: :theme_title, size: '43.5' %>
  </div>

  <div class="field">
    Description* : <br/>
    <%= form.text_area :description, id: :theme_description, size: '40x5' %>
  </div>
  
  <div class="field">
    Photo : <br/>
    <%= form.autocomplete_field :picture, autocomplete_theme_picture_themes_path, id: :theme_picture, size: '43x5' %>
  </div>

  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
