<%= form_with(model: theme, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing theme which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing theme -%>
  <% if part == 'edit' %>
    <%-# This is an existing theme. -%>
    <h2>Thème "<%= theme.title %>"</h2>
    <%-# No <h2> title if this is a new theme. -%>
  <% end %>

  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% theme.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur le thème</h3><br/>

  <div class="field">
    Titre du thème* : <br/>
    <%= form.autocomplete_field :title, autocomplete_theme_title_themes_path, id: :theme_title, size: '43.5' %>
  </div>

  <div class="field">
    Description du thème* : <br/>
    <%= form.text_area :description, id: :theme_description, size: '40x5' %>
  </div>
  
  <div class="field">
    Nom de la photo du thème (avec son extension) : <br/>
    <% if @theme.picture? %>
      "<em><%= @theme.picture %></em>"
      <% if @theme.id? %>
        <%= link_to '-> Supprimer', theme_path(@theme, :theme => { :picture => '' }), :method => :put %><br/>
      <% else %>
        -> Pour modifier le nom de la photo : enregistrer ce thème, puis l'éditer.
      <% end %>
      <br/>
    <% else %>
      <%= form.file_field :load_picture %>
    <% end %>
    <%= form.hidden_field :picture, id: :theme_picture %>
    <br/>
    Attention à bien déposer la photo sur le dossier de partage prévu à cet effet (Switch Drive) :
    <ul>
      <li><strong>Ne pas changer le nom de la photo !</strong></li>
      <li>Ne pas créer de sous-dossiers (déposer toutes les photos dans un seul et même dossier)</li>
      <li>Utiliser la qualité maximale possible</li>
      <li>Spécifier, dans le champ ci-dessous, la source de la photo</li>
    </ul>
  </div>

  <div class="field">
    Source de la photo du thème : <br/>
    <%= form.autocomplete_field :source, autocomplete_theme_source_themes_path, id: :theme_source, size: '43.5' %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
