<br/><p id="notice"><%= notice %></p>

<h1>Table des thèmes</h1>
<em>
  Cette table contient les thèmes principaux des actions.
</em>

<hr/>
<%= link_to 'Ajouter un nouveau thème', new_theme_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(themes_path, method: :get) do %>

  <div class="field">
    Mot-clé cherché dans le titre, la description et le nom de la photo :
    <%= text_field_tag :search, params[:search], size: '30', placeholder: 'Aucun mot-clé' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>

<%= link_to 'Annuler la recherche', themes_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Nom de la photo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.title %></td>
        <td><%= theme.description %></td>
        <td><%= theme.picture %></td>
        <td>
          <%= link_to 'Editer', edit_theme_path(theme) %><br/>
          <%= link_to 'Supprimer', theme, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce thème est irréversible et suprimera toutes les actions et donc toutes les tâches associées.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
