<br/><p id="notice"><%= notice %></p>

<h1>Thème "<%= @theme.title %>"</h1>

<hr/>
<%= link_to 'Voir tous les thèmes', themes_path %>
<hr/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre du thème</th>
      <th>Description du thème</th>
      <th>Nom de la photo du thème</th>
      <th>Source de la photo du thème</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @theme.title %></td>
      <td><%= @theme.description %></td>
      <td><%= @theme.picture %></td>
      <td><%= @theme.source %></td>
      <td>
        <%= link_to 'Editer', edit_theme_path(@theme) %><br/>
        <%= link_to 'Supprimer', @theme, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce thème est irréversible et suprimera toutes les actions et donc toutes les tâches associées.' } %></td>
      </td>
    </tr>
  </tbody>
</table>
