<p id="notice"><%= notice %></p>

<p>
  <strong>Titre : </strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description : </strong>
  <%= @topic.description %>
</p>

<%= link_to 'Editer', edit_topic_path(@topic) %> |
<%= link_to 'Retour', topics_path %>
