<p id="notice"><%= notice %></p>
<% # List of the months (in french) %>
<% monthsFr = [['Indifférent', 0], ['Janvier', 1], ['Février', 2], ['Mars', 3], ['Avril', 4], ['Mai', 5], ['Juin', 6], ['Juillet', 7], ['Août', 8], ['Septembre', 9], ['Octobre', 10], ['Novembre', 11], ['Décembre', 12]] %>

<h1>Table des périodes (pour les tâches)</h1>
<em>
  Cette table contient les différentes périodes (idéale - favorable - possible - autre - …) relatives aux différentes tâches.<br/>
  Une tâche (table "Tâches") peut avoir différentes périodes. En revanche, une ligne de cette table ne correspond qu'à une seule tâche (pas à plusieurs tâches). 
</em>

<hr/>
<%= link_to 'Ajouter une nouvelle période', new_period_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(periods_path, method: :get) do %>

  <div class="field">
    Mot-clé cherché dans la description :
    <%= text_field_tag :keyword, params[:keyword], size: '30', placeholder: 'Aucun mot-clé' %>
  </div>

  <div class="field">
    Mois minimum :
    <%= select_tag :monthmin, options_for_select(monthsFr, params[:monthmin]) %>
  </div>

  <div class="field">
    Mois maximum :
    <%= select_tag :monthmax, options_for_select(monthsFr, params[:monthmax]) %>
  </div>

  <div class="field">
    Tâche (Action - Thème - Code du thème) :
    <% tasks = Task.all %>
    <% taskoptions = ['Indifférent'] %>
    <% tasks.each do |task| %>
      <% taskarray = [task.title + ' (' + task.action.title + ' - ' + task.action.theme.title + ' - ' + task.action.theme.code + ')', task.id] %>
      <% taskoptions.push(taskarray) %>
    <% end %>
    <%= select_tag :task_id, options_for_select(taskoptions, params[:task_id]) %>
  </div>

  <div class="field">
    Catégorie de temps :
    <% categories = Category.all %>
    <% categoryoptions = ['Indifférent'] %>
    <% categories.each do |category| %>
      <% categoryarray = [category.title, category.id] %>
      <% categoryoptions.push(categoryarray) %>
    <% end %>
    <%= select_tag :category_id, options_for_select(categoryoptions, params[:category_id]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>
<%= link_to 'Annuler la recherche', periods_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Tâche (Action - Thème - Code du thème)</th>
      <th>Catégorie de temps</th>
      <th>Mois de début</th>
      <th>Mois de fin</th>
      <th>Description de la période</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.task.title %> (<%= period.task.action.title %> - <%= period.task.action.theme.title %> - <%= period.task.action.theme.code %>)</td>
        <td><%= period.category.title %></td>
        <td><%= monthsFr[period.startdate][0] %></td>
        <td><%= monthsFr[period.enddate][0] %></td>
        <td><%= period.description %></td>
        <td>
          <%= link_to 'Editer', edit_period_path(period) %><br/>
          <%= link_to 'Supprimer', period, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette période est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>