<p id="notice"><%= notice %></p>

<h1>Table des périodes (pour les tâches)</h1>
<em>
  Cette table contient les différentes périodes (idéale - favorable - possible - autre - …) relatives aux différentes tâches.<br/>
  Une tâche (table "Tâches") peut avoir différentes périodes. En revanche, une ligne de cette table ne correspond qu'à une seule tâche (pas à plusieurs tâches). 
</em>

<hr/>
<%= link_to 'Ajouter une nouvelle période', new_period_path %>
<hr/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Tâche</th>
      <th>Catégorie de temps</th>
      <th>Mois de début</th>
      <th>Mois de fin</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.task.title %></td>
        <td><%= period.category.title %></td>
        <td><%= period.startdate %></td>
        <td><%= period.enddate %></td>
        <td><%= period.description %></td>
        <td>
          <%= link_to 'Editer', edit_period_path(period) %><br/>
          <%= link_to 'Supprimer', period, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette période est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>