<%= form_with(model: work, local: true) do |form| %>
  <%-# The type variable: to know if this is a new or an existing work which is modified (see below) -%>
  <% type = request.path_info.split("/")[3] %>
  <%-# Add a title according if this is a new or an existing work -%>
  <% if type == 'edit' %>
    <%-# This is an existing work. -%>
    <h2>Action "<%= work.title %>"</h2>
    <%-# No <h2> title if this is a new work. -%>
  <% end %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "erreur identifiée", "erreurs identifiées") %> : </h2>

      <ul>
      <% work.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur l'action</h3><br/>

  <div class="field">
    Titre : <br/>
    <%= form.text_field :title, id: :work_title, size: '43.5' %>
  </div>

  <div class="field">
    Description de l'action : <br/>
    <%= form.text_area :description, id: :work_description, size: '40x5' %>
  </div>

  <div class="field">
    Description de l'impact : <br/>
    <%= form.text_area :impact, id: :work_impact, size: '40x5' %>
  </div>

  <div class="field">
    Nécessité d'une maison ?
    <%= form.check_box :house, id: :work_house %>
  </div>

  <div class="field">
    Coût [CHF] : <br/>
    <%= form.text_field :cost, id: :work_cost, size: '43.5' %>
  </div>

  <div class="field">
    Temps (unité à spécifier dans le champs) : <br/>
    <%= form.text_field :time, id: :work_time, size: '43.5' %>
  </div>

  <div class="field">
    Difficulté (1 = facile, 2 = moyen, 3 = difficile) :  
    <%-# Difficulty level has only three possibilities: 1, 2 or 3. -%>
    <%= form.select :difficulty, options_for_select([1, 2, 3], selected: work.difficulty), id: :work_difficulty %>
  </div>
  
  <hr/><h3>Classification de l'action</h3><br/>
  
  <div class="field">
    Thème : 
    <% topics = Topic.all %>
    <% topoptions = Array.new %>
    <% topselected = '' %>
    <% topics.each do |topic| %>
      <% toparray = [topic.title, topic.id] %>
      <% topoptions.push(toparray) %>
      <%-# If this is an existing work, the selected option of the select form is the current value (see below). -%>
      <% if type == 'edit' %>
        <% if topic.id == work.topic.id %>
          <% topselected = topic.id %>
        <% end %>
      <% end %>
    <% end %>
    <% if type == 'edit' %>
      <%= form.select :topic_id, options_for_select(topoptions, selected: topselected), id: :work_topic_id %>
    <% else %>
      <%-# If this is a new work, there is no default value selected in the select form. -%>
      <%= form.select :topic_id, options_for_select(topoptions), id: :work_topic_id %>
    <% end %>
    <%= link_to 'Créer un nouveau thème', new_topic_path %>
  </div>

  <div class="field">
    Type d'action : 
    <% categories = Category.all %>
    <% catoptions = Array.new %>
    <% catselected = '' %>
    <% categories.each do |category| %>
      <% catarray = [category.title, category.id] %>
      <% catoptions.push(catarray) %>
      <% if type == 'edit' %>
        <% if category.id == work.category.id %>
          <% catselected = category.id %>
        <% end %>
      <% end %>
    <% end %>
    <% if type == 'edit' %>
      <%= form.select :category_id, options_for_select(catoptions, selected: catselected), id: :work_category_id %>
    <% else %> 
      <%= form.select :category_id, options_for_select(catoptions), id: :work_category_id %>
    <% end %>
    <%= link_to 'Créer un nouveau type d\'action', new_category_path %>
  </div>

  <hr/>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
