<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic_id %>
    <%= form.text_field :topic_id, id: :work_topic_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :work_category_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :work_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :work_description %>
  </div>

  <div class="field">
    <%= form.label :impact %>
    <%= form.text_area :impact, id: :work_impact %>
  </div>

  <div class="field">
    <%= form.label :house %>
    <%= form.check_box :house, id: :work_house %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :work_cost %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :work_time %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.number_field :difficulty, id: :work_difficulty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
