<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @work.topic %>
</p>

<p>
  <strong>Category:</strong>
  <%= @work.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @work.impact %>
</p>

<p>
  <strong>House:</strong>
  <%= @work.house %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @work.cost %>
</p>

<p>
  <strong>Time:</strong>
  <%= @work.time %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @work.difficulty %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
