<p id="notice"><%= notice %></p>

<p>
  <strong>Titre : </strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description de l'action : </strong>
  <%= @work.description %>
</p>

<p>
  <strong>Description de l'impact : </strong>
  <%= @work.impact %>
</p>

<p>
  <strong>Nécessité d'une maison ? </strong>
  <% if @work.house == true %>
    Oui
  <% else %>
    Non
  <% end %>
</p>

<p>
  <strong>Coût [CHF] : </strong>
  <%= @work.cost %>
</p>

<p>
  <strong>Temps : </strong>
  <%= @work.time %>
</p>

<p>
  <strong>Difficulté : </strong>
  <% if @work.difficulty == 1 %>
    Facile
  <% elsif @work.difficulty == 2 %>
    Moyen
  <% else %>
    Difficile
  <% end %>
</p>

<p>
  <strong>Thème :</strong>
  <% topics = Topic.all %>
  <% topics.each do |topic| %>
    <% if topic.id == @work.topic.id %>
      <%= topic.title %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Type d'action : </strong>
  <% categories = Category.all %>
  <% categories.each do |category| %>
    <% if category.id == @work.category.id %>
      <%= category.title %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Editer', edit_work_path(@work) %> |
<%= link_to 'Retour', works_path %>
