<%= form_with(model: species, local: true) do |form| %>

  <% part = request.path_info.split("/")[4] %>
  <% if part == 'edit' %>
    <%-# This is an existing species. -%>
    <h2>Espèce "<%= species.name %>"</h2>
    <%-# No <h2> title if this is a new species. -%>
  <% end %>

  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% species.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur l'espèce</h3><br/>

  <div class="field">
    Nom de l'espèce* : <br/>
    <%= form.text_field :name, id: :species_name, size: '43.5' %>
  </div>

  <div class="field">
    Description de l'espèce : <br/>
    <%= form.text_area :description, id: :species_description, size: '40x5' %>
  </div>

  <div class="field">
    Nom de la photo de l'espèce (avec son extension)* : <br/>
    <% if @species.picture? %>
      "<em><%= @species.picture %></em>"
      <%= link_to '-> Supprimer', species_path(@species, :species => { :picture => '' }), :method => :put %><br/>
    <% else %>
      <%= form.file_field :load_picture %>
    <% end %>
    <%= form.hidden_field :picture, id: :species_picture %>
    <br/>
    Attention à bien déposer la photo sur le dossier de partage prévu à cet effet (Switch Drive) :
    <ul>
      <li><strong>Ne pas changer le nom de la photo !</strong></li>
      <li>Ne pas créer de sous-dossiers (déposer toutes les photos dans un seul et même dossier)</li>
      <li>Utiliser la qualité maximale possible</li>
      <li>Spécifier, dans le champ ci-dessous, la source de la photo</li>
    </ul>
  </div>

  <div class="field">
    Source de la photo de l'espèce : <br/>
    <%= form.text_field :source, id: :species_source, size: '43.5' %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>