<p id="notice"><%= notice %></p>

<h1>Espèce "<%= @species.name %>"</h1>

<hr/>
<%= link_to 'Voir toutes les espèces', species_index_path %>
<hr/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Nom de la photo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @species.name %></td>
      <td><%= @species.description %></td>
      <td><%= @species.picture %></td>
      <td>
        <%= link_to 'Editer', edit_species_path(@species) %><br/>
        <%= link_to 'Supprimer', @species, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette espèce est irréversible et suprimera toutes les lignes associées dans la table des liens entre les actions et les espèces.' } %>
      </td>
    </tr>
  </tbody>
</table>