<%= form_with(model: action, local: true, scope: :bioaction) do |form| %>
  <%-# scope because action is a reserved word in the Rails forms -%>

  <%-# The part variable: to know if this is a new or an existing action which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing action -%>
  <% if part == 'edit' %>
    <%-# This is an existing action. -%>
    <h2>Action "<%= action.title %>"</h2>
    <%-# No <h2> title if this is a new action. -%>
  <% end %>

  <% if action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action.errors.count, "erreur identifiée", "erreurs identifiées") %> : </h2>

      <ul>
      <% action.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur l'action</h3><br/>

  <div class="field">
    Titre* : <br/>
    <%= form.autocomplete_field :title, autocomplete_action_title_actions_path, id: :action_title, size: '43.5' %>
  </div>

  <div class="field">
    Description de l'action* : <br/>
    <%= form.text_area :description, id: :action_description, size: '40x5' %>
  </div>

  <div class="field">
    Description de l'impact* : <br/>
    <%= form.text_area :impact, id: :action_impact, size: '40x5' %>
  </div>

  <div class="field">
    Nécessité d'une maison ?
    <%= form.check_box :spot, id: :action_spot %>
  </div>

  <div class="field">
    Coût minimum* [CHF] : <br/>
    <%= form.text_field :cost_min, id: :action_cost_min, size: '10' %>
  </div>

  <div class="field">
    Temps minimum* (unité à spécifier dans le champ suivant) : <br/>
    <%= form.text_field :time_min, id: :action_time_min, size: '10' %>
  </div>

  <div class="field">
    Unité de temps* :
    <%= form.select :time_unit, options_for_select([["Choisir", 0], ["Minute", 1], ["Heure", 2], ["Jour", 3], ["Semaine", 4], ["Mois", 5]], selected: action.time_unit), id: :action_time_unit %>
  </div>

  <div class="field">
    Description sur le temps : <br/>
    <%= form.text_area :time_description, id: :action_time_description, size: '40x5' %>
  </div>

  <div class="field">
    Surface minimale [mètres carrés] (arrondi à deux décimales) : <br/>
    <%= form.text_field :surface_min, id: :action_surface_min, size: '10' %>
  </div>

  <div class="field">
    Investissement / Difficulté* :
    <%-# Difficulty level has only three possibilities: 1, 2 or 3. -%>
    <%= form.select :investment, options_for_select([["Choisir", 0], ["Facile", 1], ["Moyen", 2], ["Difficile", 3]], selected: action.investment), id: :action_investment %>
  </div>

  <div class="field">
    Photo (avec son extension)* : <br/>
    <%= form.autocomplete_field :picture, autocomplete_action_picture_actions_path, id: :action_picture, size: '43.5' %>
  </div>

  <div class="field">
    Importance pour la biodiversité (1 = forte importance ; 4 = faible importance) : <br/>
    <%= form.text_field :importance, id: :action_importance, size: '10' %>
  </div>

  <hr/><h3>Classification de l'action</h3><br/>

  <div class="field">
    Thème : 
    <% themes = Theme.all %>
    <% themeoptions = Array.new %>
    <% themeselected = '' %>
    <% themes.each do |theme| %>
      <% themearray = [theme.title, theme.id] %>
      <% themeoptions.push(themearray) %>
    <% end %>
    <% if part == 'edit' %>
      <%= form.select :theme_id, options_for_select(themeoptions, selected: action.theme.id), id: :action_theme_id %>
    <% else %>
      <%-# If this is a new action, there is no default value selected in the select form. -%>
      <% themeoptions.unshift(['Choisir']) %>
      <%= form.select :theme_id, options_for_select(themeoptions), id: :action_theme_id %>
    <% end %>
    <%= link_to 'Créer un nouveau thème', new_theme_path %>
  </div>

  <div class="field">
    Type d'action : 
    <% types = Type.all %>
    <% typeoptions = Array.new %>
    <% typeselected = '' %>
    <% types.each do |type| %>
      <% typearray = [type.title, type.id] %>
      <% typeoptions.push(typearray) %>
    <% end %>
    <% if part == 'edit' %>
      <%= form.select :type_id, options_for_select(typeoptions, selected: action.type.id), id: :action_type_id %>
    <% else %>
      <% typeoptions.unshift(['Choisir']) %>
      <%= form.select :type_id, options_for_select(typeoptions), id: :action_type_id %>
    <% end %>
    <%= link_to 'Créer un nouveau type d\'action', new_type_path %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
