<%= form_with(model: action, local: true, scope: :bioaction) do |form| %>
  <%-# scope because action is a reserved word in the Rails forms -%>

  <%-# The part variable: to know if this is a new or an existing action which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing action -%>
  <% if part == 'edit' %>
    <%-# This is an existing action. -%>
    <h2>Action "<%= action.title %>"</h2>
    Thème : <%= action.theme.title %> - Code du thème : <%= action.theme.code %><br/>
    Type d'action : <%= action.type.title %>
    <%-# No <h2> title if this is a new action. -%>
  <% end %>

  <% if action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action.errors.count, "erreur identifiée", "erreurs identifiées") %> : </h2>

      <ul>
      <% action.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur l'action</h3><br/>

  <div class="field">
    Titre de l'action* : <br/>
    <%= form.autocomplete_field :title, autocomplete_action_title_actions_path, id: :action_title, size: '43.5' %>
  </div>

  <div class="field">
    Description de l'action* : <br/>
    <%= form.text_area :description, id: :action_description, size: '40x5' %>
  </div>

  <div class="field">
    Description de l'impact de l'action* : <br/>
    <%= form.text_area :impact, id: :action_impact, size: '40x5' %>
  </div>

  <div class="field">
    Nécessité d'une maison ?
    <%= form.check_box :spot, id: :action_spot %>
  </div>

  <div class="field">
    Coût minimum* [CHF] : <br/>
    <%= form.text_field :cost_min, id: :action_cost_min, size: '10' %>
  </div>

  <div class="field">
    Temps minimum* (unité à spécifier dans le champ suivant) : <br/>
    <%= form.text_field :time_min, id: :action_time_min, size: '10' %>
  </div>

  <div class="field">
    Unité de temps* :
    <%= form.select :unit_id, Unit.all.collect { |unit| [unit.abbreviation, unit.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer une nouvelle unité de temps', new_unit_path %>
  </div>

  <div class="field">
    Description sur le temps : <br/>
    <%= form.text_area :time_description, id: :action_time_description, size: '40x5' %>
  </div>

  <div class="field">
    Surface minimale [mètres carrés] (arrondi à deux décimales) : <br/>
    <%= form.text_field :surface_min, id: :action_surface_min, size: '10' %>
  </div>

  <div class="field">
    Investissement / Difficulté* :
    <%-# Difficulty level has only three possibilities: 1, 2 or 3. -%>
    <%= form.select :investment, options_for_select([["Choisir", 0], ["Facile", 1], ["Moyen", 2], ["Difficile", 3]], selected: action.investment), id: :action_investment %>
  </div>
  
  <div class="field">
    Importance pour la biodiversité (1 = forte importance ; 4 = faible importance) : <br/>
    <%= form.text_field :importance, id: :action_importance, size: '10' %>
  </div>

  <div class="field">
    Nom de la photo (avec son extension) : <br/>
    <% if @action.picture? %>
      "<em><%= @action.picture %></em>"
      <% if @action.id? %>
        <%= link_to '-> Supprimer', action_path(@action, :bioaction => { :picture => '' }), :method => :put %>
      <% else %>
        -> Pour modifier le nom de la photo : enregistrer cette action, puis l'éditer.
      <% end %>
      <br/>
    <% else %>
      <%= form.file_field :load_picture %>
    <% end %>
    <%= form.hidden_field :picture, id: :action_picture %>
    <br/>
    Attention à bien déposer la photo sur le dossier de partage prévu à cet effet (Switch Drive) :
    <ul>
      <li><strong>Ne pas changer le nom de la photo !</strong></li>
      <li>Ne pas créer de sous-dossiers (déposer toutes les photos dans un seul et même dossier)</li>
      <li>Utiliser la qualité maximale possible</li>
      <li>Spécifier, dans le champ ci-dessous, la source de la photo</li>
    </ul>
  </div>

  <div class="field">
    Source de la photo de l'action : <br/>
    <%= form.autocomplete_field :source, autocomplete_action_source_actions_path, id: :action_source, size: '43.5' %>
  </div>

  <hr/><h3>Classification de l'action</h3><br/>

  <div class="field">
    Thème (code du thème)* :
    <%= form.select :theme_id, Theme.all.collect { |theme| [theme.title + " (" + theme.code + ")", theme.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer un nouveau thème', new_theme_path %>
  </div>

  <div class="field">
    Type d'action* :
    <%= form.select :type_id, Type.all.collect { |type| [type.title, type.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer un nouveau type d\'action', new_type_path %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
