<br/><p id="notice"><%= notice %></p>

<h1>Action "<%= @action.title %>"</h1>

<hr/>
<%= link_to 'Voir toutes les actions', actions_path %>
<hr/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description de l'action</th>
      <th>Description de l'impact</th>
      <th>Nécessité d'une maison ?</th>
      <th>Coût minimum [CHF]</th>
      <th>Temps minimum</th>
      <th>Unité de temps</th>
      <th>Description sur le temps</th>
      <th>Surface minimale</th>
      <th>Investissement / Difficulté</th>
      <th>Nom de la photo</th>
      <th>Importance pour la biodiversité</th>
      <th>Thème</th>
      <th>Type d'action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @action.title %></td>
      <td><%= @action.description %></td>
      <td><%= @action.impact %></td>
      <td>
        <% if @action.spot == true %>
          Oui
        <% else %>
          Non
        <% end %>
      </td>
      <td><%= @action.cost_min %></td>
      <td><%= @action.time_min %></td>
      <td>
        <% if @action.time_unit == 1 %>
          Minute
        <% elsif @action.time_unit == 2 %>
          Heure
        <% elsif @action.time_unit == 3 %>
          Jour
        <% elsif @action.time_unit == 4 %>
          Semaine
        <% elsif @action.time_unit == 5 %>
          Mois
        <% else %>
          -
        <% end %>
      </td>
      <td><%= @action.time_description %></td>
      <td><%= @action.surface_min %></td>
      <td>
          <% if @action.investment == 1 %>
            Facile
          <% elsif @action.investment == 2 %>
            Moyen
          <% elsif @action.investment == 3 %>
            Difficile
          <% else %>
            -
          <% end %>
        </td>
      <td><%= @action.picture %></td>
      <td><%= @action.importance %></td>
      <td><%= @action.theme.title %></td>
      <td><%= @action.type.title %></td>
      <td>
        <%= link_to 'Editer', edit_action_path(@action) %><br/>
        <%= link_to 'Supprimer', @action, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette action est irréversible et supprimera toutes les tâches associées.' } %>
      </td>
    </tr>
  </tbody>
</table>
