<%= form_with(model: cost, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing cost which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing cost -%>
  <% if part == 'edit' %>
    <%-# This is an existing cost. -%>
    <h2>Coût "<%= cost.title %>"</h2>
    Action : <%= @cost.action.code %> <%= @cost.action.title %> (Thème : <%= @cost.action.theme.title %> - Code du thème : <%= @cost.action.theme.code %>)
    <%-# No <h2> title if this is a new cost. -%>
  <% end %>

  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% cost.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur le coût</h3><br/>

  <div class="field">
    Titre* : <br/>
    <%= form.autocomplete_field :title, autocomplete_cost_title_costs_path, id: :cost_title, size: '43.5' %>
  </div>

  <div class="field">
    Coût minimum* : <br/>
    <%= form.text_field :value_min, id: :cost_value_min, size: '43.5' %>
  </div>

  <div class="field">
    Coût maximum* : <br/>
    <%= form.text_field :value_max, id: :cost_value_max, size: '43.5' %>
  </div>

  <div class="field">
    Unité (pour les coûts)* : <br/>
    <%= form.autocomplete_field :unit, autocomplete_cost_unit_costs_path, id: :cost_unit, size: '43.5' %>
  </div>

  <hr/><h3>Classification du coût</h3><br/>

  <div class="field">
    Action (Thème - Code du thème)* : <br/>
    <%= form.select :action_id, Action.all.collect { |action| [action.code + ' ' + action.title + ' (' + action.theme.title + ' - ' + action.theme.code + ')', action.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer une nouvelle action', new_action_path %>
  </div>
  
  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
