<p id="notice"><%= notice %></p>

<h1>Table des coûts (pour les actions)</h1>
<em>
  Cette table concerne les coûts des actions.<br/>
  Une action (table "Actions") peut être composée de différents coûts. Par contre, une ligne de cette table ne concerne qu'une seule action (pas plusieurs actions).
</em>

<hr/>
<%-# Button to add a new cost: at the top -%>
<%= link_to 'Ajouter un nouveau coût', new_cost_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(costs_path, method: :get) do %>

  <div class="field">
    Mot-clé cherché dans le titre et l'unité (pour les coûts) :
    <%= text_field_tag :keyword, params[:keyword], size: '30', placeholder: 'Aucun mot-clé' %>
  </div>

  <div class="field">
    Coût minimum :
    <%= number_field_tag :costmin, params[:costmin], step: 0.1, min: 0, max: 500, placeholder: 'Aucun' %>
  </div>

  <div class="field">
    Coût maximum :
    <%= number_field_tag :costmax, params[:costmax], step: 0.1, min: 0, max: 500, placeholder: 'Aucun' %>
  </div>

  <div class="field">
    Action :
    <% actions = Action.all %>
    <% actionoptions = ['Indifférent'] %>
    <% actions.each do |action| %>
      <% actionarray = [action.title, action.id] %>
      <% actionoptions.push(actionarray) %>
    <% end %>
    <%= select_tag :action_id, options_for_select(actionoptions, params[:action_id]) %>
  </div>

  <div class="actions">
    <%= submit_tag 'Rechercher', name: nil %>
  </div>

<% end %><br/>

<%= link_to 'Annuler la recherche', costs_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre / type de coût</th>
      <th>Action (Thème)</th>
      <th>Coût minimum</th>
      <th>Coût maximum</th>
      <th>Unité (pour les coûts)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.title %></td>
        <td><%= cost.action.title %> (<%= cost.action.theme.title %>)</td>
        <td><%= cost.value_min %></td>
        <td><%= cost.value_max %></td>
        <td><%= cost.unit %></td>
        <td>
          <%= link_to 'Editer', edit_cost_path(cost) %><br/>
          <%= link_to 'Supprimer', cost, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce coût est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>