<p id="notice"><%= notice %></p>

<h1>Coût "<%= @cost.title %>"</h1>

<hr/>
<%= link_to 'Voir tous les coûts', costs_path %>
<hr/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Coût minimum</th>
      <th>Coût maximum</th>
      <th>Unité (pour les coûts)</th>
      <th>Action (Thème)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cost.title %></td>
      <td><%= @cost.value_min %></td>
      <td><%= @cost.value_max %></td>
      <td><%= @cost.unit %></td>
      <td><%= @cost.action.title %> (<%= @cost.action.theme.title %>)</td>
      <td>
        <%= link_to 'Editer', edit_cost_path(@cost) %><br/>
        <%= link_to 'Supprimer', @cost, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce coût est irréversible.' } %>
      </td>
    </tr>
  </tbody>
</table>