<%= form_with(model: link, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing link which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing link -%>
  <% if part == 'edit' %>
    <%-# This is an existing link. -%>
    <h2>Lien Internet "<%= link.link %>"</h2>
    Tâche "<%= link.task.title %>" (Action "<%= link.task.action.title %>" - Thème "<%= link.task.action.theme.title %>")
    <%-# No <h2> title if this is a new link. -%>
  <% end %>

  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% link.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur le lien Internet</h3><br/>

  <div class="field">
    Lien Internet* : <br/>
    <%= form.text_field :link, id: :link_link, size: '43.5' %>
  </div>

  <hr/><h3>Classification du lien Internet</h3><br/>

  <div class="field">
    Tâche (Action - Thème)* : <br/>
    <%= form.select :task_id, Task.all.collect { |task| [task.title + ' (' + task.action.title + ' - ' + task.action.theme.title + ')', task.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer une nouvelle tâche', new_task_path %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
