<p id="notice"><%= notice %></p>

<h1>Table des liens (pour les tâches)</h1>
<em>
  Cette table contient les liens Internet relatifs aux tâches.<br/>
  Une tâche (table "Tâches") peut avoir plusieurs liens Internet. En revanche, une ligne de cette table ne correspond qu'à une seule tâche (pas à plusieurs tâches). 
</em>

<hr/>
<%= link_to 'Ajouter un nouveau lien', new_link_path %>
<hr/>

<h3>Effectuer une recherche</h3><br/>
<%= form_tag(links_path, method: :get) do %>

  <%= text_field_tag :search, params[:search], size: '30', placeholder: 'Aucun mot-clé' %>
  <%= submit_tag 'Rechercher', name: nil %>

<% end %><br/>

<%= link_to 'Annuler la recherche', links_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Lien</th>
      <th>Tâche</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><a href='<%= link.link %>' target='_blank'><%= link.link %></a></td>
        <td><%= link.task.title %></td>
        <td>
          <%= link_to 'Editer', edit_link_path(link) %><br/>
          <%= link_to 'Supprimer', link, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de ce lien est irréversible.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>