<br/><p id="notice"><%= notice %></p>
<h1>Liste des tables</h1><hr/>

<table class="table table-striped table-bordered table-hover" style="max-width: 30%">
  <tr>
    <td rowspan="1">Thèmes</td>
    <td>Table des thèmes</td>
    <td><%= link_to 'Voir', themes_path %></td>
  </tr>
  <tr>
    <td rowspan="1">Types d'action</td>
    <td>Table des types d'action</td>
    <td><%= link_to 'Voir', types_path %></td>
  </tr>
  <tr>
    <td rowspan="5">Actions</td>
    <td>Table des actions</td>
    <td><%= link_to 'Voir', actions_path %></td>
  </tr>
  <tr>
    <td>Table des liens entre actions</td>
    <td><%= link_to 'Voir', actions_actions_path %></td>
  </tr>
  <tr>
    <td>Table des coûts (pour les actions)</td>
    <td><%= link_to 'Voir', costs_path %></td>
  </tr>
  <tr>
    <td>Table des espèces (pour les actions)</td>
    <td><%= link_to 'Voir', species_index_path %></td>
  </tr>
  <tr>
    <td>Table des liens entre les actions et les espèces</td>
    <td><%= link_to 'Voir', species_actions_path %></td>
  </tr>
  <tr>
    <td rowspan="6">Tâches</td>
    <td>Table des tâches</td>
    <td><%= link_to 'Voir', tasks_path %></td>
  </tr>
  <tr>
    <td>Table des liens entre tâches</td>
    <td><%= link_to 'Voir', tasks_tasks_path %></td>
  </tr>
  <tr>
    <td>Table des liens Internet (pour les tâches)</td>
    <td><%= link_to 'Voir', links_path %></td>
  </tr>
  <tr>
    <td>Table des photos (pour les tâches)</td>
    <td><%= link_to 'Voir', pictures_path %></td>
  </tr>
  <tr>
    <td>Table des catégories de temps (pour les tâches)</td>
    <td><%= link_to 'Voir', categories_path %></td>
  </tr>
  <tr>
    <td>Table des périodes (pour les tâches)</td>
    <td><%= link_to 'Voir', periods_path %></td>
  </tr>
</table>
