<%= form_with(model: picture, local: true) do |form| %>

  <%-# The part variable: to know if this is a new or an existing picture which is modified (see below) -%>
  <% part = request.path_info.split("/")[4] %>
  <%-# Add a title according if this is a new or an existing picture -%>
  <% if part == 'edit' %>
    <%-# This is an existing picture. -%>
    <h2>Photo "<%= picture.picture %>"</h2>
    Tâche : <%= picture.task.title %> (Action : <%= picture.task.action.title %> - Thème : <%= picture.task.action.theme.title %> - Code du thème : <%= picture.task.action.theme.code %>)
    <%-# No <h2> title if this is a new picture. -%>
  <% end %>

  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% picture.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Information sur la photo</h3><br/>

  <div class="field">
    Nom de la photo (avec son extension)* : <br/>
    <% if @picture.picture? %>
      "<em><%= @picture.picture %></em>"
      <% if @picture.id? %>
        <%= link_to '-> Supprimer', picture_path(@picture, :picture => { :picture => '' }), :method => :put %>
      <% else %>
        -> Pour modifier le nom de la photo : enregistrer cette photo, puis l'éditer.
      <% end %>
      <br/>
    <% else %>
      <%= form.file_field :load_picture %>
    <% end %>
    <%= form.hidden_field :picture, id: :picture_picture %>
    <br/>
    Attention à bien déposer la photo sur le dossier de partage prévu à cet effet (Switch Drive) :
    <ul>
      <li><strong>Ne pas changer le nom de la photo !</strong></li>
      <li>Ne pas créer de sous-dossiers (déposer toutes les photos dans un seul et même dossier)</li>
      <li>Utiliser la qualité maximale possible</li>
      <li>Spécifier, dans le champ ci-dessous, la source de la photo</li>
    </ul>
  </div>

  <div class="field">
    Source de la photo : <br/>
    <%= form.autocomplete_field :source, autocomplete_picture_source_pictures_path, id: :picture_source, size: '43.5' %>
  </div>

  <div class="field">
    Description de la photo : <br/>
    <%= form.text_area :description, id: :picture_description, size: '40x5' %>
  </div>

  <hr/><h3>Classification de la photo</h3><br/>

  <div class="field">
    Tâche (Action - Thème - Code du thème)* : <br/>
    <%= form.select :task_id, Task.all.collect { |task| [task.title + ' (' + task.action.title + ' - ' + task.action.theme.title + ' - ' + task.action.theme.code + ')', task.id] }, { :include_blank => "Choisir" } %>
    <%= link_to 'Créer une nouvelle tâche', new_task_path %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
