<%= form_with(model: species_action, local: true) do |form| %>

  <% part = request.path_info.split("/")[4] %>
  <% if part == 'edit' %>
    <%-# This is an existing link. -%>
    <h2>Lien entre "<%= @species_action.action.code %> <%= @species_action.action.title %>" - "<%= @species_action.species.name %>"</h2>
    <%-# No <h2> title if this is a new link. -%>
  <% end %>

  <% if species_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species_action.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% species_action.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur le lien</h3><br/>
  
  <div class="field">
    Action (Thème - Code du thème)* : <br/>
    <%= form.select :action_id, Action.all.collect { |action| [action.code + ' ' + action.title + ' (' + action.theme.title + ' - ' + action.theme.code + ')', action.id] }, { :include_blank => "Choisir" } %>
  </div>
  
  <div class="field">
    Espèce* : <br/>
    <%= form.select :species_id, Species.all.collect { |species| [species.name, species.id] }, { :include_blank => "Choisir" } %>
  </div>

  <hr/>
  <h6>* Champs obligatoires</h6>
  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>