<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "erreur identifiée", "erreurs identifiées") %> :</h2>

      <ul>
      <% category.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr/><h3>Information sur le type d'action</h3><br/>

  <div class="field">
    Titre : <br/>
    <%= form.text_field :title, id: :category_title, size: '43.5' %>
  </div>

  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
