<p id="notice"><%= notice %></p>

<h1>Table des catégories de temps (pour les tâches)</h1>

<hr/>
<%= link_to 'Ajouter une nouvelle catégorie de temps', new_category_path %>
<hr/>

<%= form_tag(categories_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], size: '30', placeholder: 'Aucun mot-clé' %>
  <%= submit_tag 'Rechercher', name: nil %>
<% end %><br/>
<%= link_to 'Annuler la recherche', categories_path %><br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td>
          <%= link_to 'Editer', edit_category_path(category) %><br/>
          <%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Etes-vous sûr ? Attention : La suppression de cette catégorie de temps est irréversible et suprimera toutes les tâches associées.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
