<!DOCTYPE html>
<html>
  <head>
    <title>BioRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
        <a class='navbar-brand' href='/tables'>BioRails</a>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'Actions', works_path %></li>
          <li><%= link_to 'Thèmes', topics_path %></li>
          <li><%= link_to 'Types d\'action', categories_path %></li>
        </ul>
        <div class='collapse navbar-collapse navbar-right'>
          <a class='btn btn-link navbar-btn' href='#'>Aller en haut de la page</a>
          <a class='btn btn-link navbar-btn' href='/users/new'>S'enregistrer</a>
        </div>
      </div>
    </nav>
    <main class='container'>
      <%= yield %>
    </main>
  </body>
</html>
