<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport'>
    <title>BioPocket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li><a href='/tables'>BioPocket</a></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Thèmes <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/themes'>Voir les thèmes</a></li>
              <li><a href='/tables/themes/new'>Ajouter un thème</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Types d'action <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/types'>Voir les types d'action</a></li>
              <li><a href='/tables/types/new'>Ajouter un type d'action</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Actions <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/actions'>Voir les actions</a></li>
              <li><a href='/tables/actions/new'>Ajouter une action</a></li>
              <li>
                <a href='#'>Liens entre actions <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/actionsActions'>Voir les liens entre actions</a></li>
                  <li><a href='/tables/actionsActions/new'>Ajouter un lien entre deux actions</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Coûts <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/costs'>Voir les coûts</a></li>
                  <li><a href='/tables/costs/new'>Ajouter un coût</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Espèces <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/species'>Voir les espèces</a></li>
                  <li><a href='/tables/species/new'>Ajouter une espèce</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Liens entre les actions et les espèces <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/speciesActions'>Voir les liens entre actions et espèces</a></li>
                  <li><a href='/tables/speciesActions/new'>Ajouter un lien entre une action et une espèce</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Unités de temps <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/units'>Voir les unités de temps</a></li>
                  <li><a href='/tables/units/new'>Ajouter une unité de temps</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Tâches <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/tasks'>Voir les tâches</a></li>
              <li><a href='/tables/tasks/new'>Ajouter une tâche</a></li>
              <li>
                <a href='#'>Liens entre tâches <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/tasksTasks'>Voir les liens entre tâches</a></li>
                  <li><a href='/tables/tasksTasks/new'>Ajouter un lien entre deux tâches</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Contraintes <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/constraints'>Voir les contraintes</a></li>
                  <li><a href='/tables/constraints/new'>Ajouter une contrainte</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Liens Internet <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/links'>Voir les liens Internet</a></li>
                  <li><a href='/tables/links/new'>Ajouter un lien Internet</a></li>
                </ul>
              </li>
              <li>
                <a href='#'>Catégories de temps / Périodes <span class='caret rotate270'></span></a>
                <ul class='dropdown-menu sub-menu'>
                  <li><a href='/tables/categories'>Voir les catégories de temps</a></li>
                  <li><a href='/tables/categories/new'>Ajouter une catégorie de temps</a></li>
                  <li><a href='/tables/periods'>Voir les périodes</a></li>
                  <li><a href='/tables/periods/new'>Ajouter une période</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to 'Aller en haut de la page', :anchor => "#" %></li>
          <% if logged_in? %>
            <li><%= link_to "Se déconnecter (#{current_user.pseudo})", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Se connecter", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
    <nav class='navbar navbar-default navbar-fixed-bottom'>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <li><a href=''>Copyright © 2018-2019 V1.2.2</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
