<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport'>
    <title>BioPocket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <link rel='stylesheet' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li><a href='/tables'>BioPocket</a></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Actions <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/actions'>Voir les actions</a></li>
              <li><a href='/tables/actions/new'>Ajouter une action</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Thèmes <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/themes'>Voir les thèmes</a></li>
              <li><a href='/tables/themes/new'>Ajouter un thème</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Types d'action <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='/tables/types'>Voir les types d'action</a></li>
              <li><a href='/tables/types/new'>Ajouter un type d'action</a></li>
            </ul>
          </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to 'Aller en haut de la page', :anchor => "#" %></li>
          <% if logged_in? %>
            <li><%= link_to "Se déconnecter (#{current_user.pseudo})", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Se connecter (s'enregistrer)", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
