<!DOCTYPE html>
<html>
  <head>
    <title>BioPocket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>

  <body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
        <a class='navbar-brand' href='/tables'>BioPocket</a>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'Actions', works_path %></li>
          <li><%= link_to 'Thèmes', topics_path %></li>
          <li><%= link_to 'Types d\'action', categories_path %></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><%= link_to 'Aller en haut de la page', :anchor => "#" %></li>
          <% if logged_in? %>
            <li><%= link_to "Se déconnecter (#{current_user.pseudo})", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Se connecter (s'enregistrer)", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main class='container'>
      <%= yield %>
    </main>
  </body>
</html>
